<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome!</title>
	</head>

	<body>
    <div class="py-8 bg-[#FFFBEA] h-screen">
		<nav class="relative lg:max-w-[calc(100%-30%)] flex justify-center space-x-10 bg-gradient-to-tr from-[#F0B429] to-[#FADB5F] max-w-md mx-auto h-14 items-center flex-wrap rounded-lg mb-10 font-medium decoration-[3px]">
			<a href="/" class="hover:underline-offset-1 decoration-cyan-900 underline hover:text-[#FFFBEA] font-bold">Home</a>
			<a href="/pricing" class="hover:underline-offset-1 decoration-cyan-900 hover:underline hover:text-[#FFFBEA]">Pricing</a>
			<a href="/blog" class="hover:underline-offset-1 decoration-cyan-900 hover:underline hover:text-[#FFFBEA]">Blog</a>
			<a href="#" class="hover:underline-offset-1 decoration-cyan-900 hover:underline hover:text-[#FFFBEA">Login</a>
			<a href="/pricing" class="ml-10 inline bg-white py-2 px-4 rounded-xl hover:text-yellow-500 hover:py-3 hover:px-5 duration-300 mr">Sign up</a>
		</nav>
      <h1 class="text-center text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
        Adome Photostore
			</h1>
      <p class="text-center text-gray-700">Best photo editor tools for everyone.</p>
      <a href="/pricing"><button class="animate-pulse hover:animate-none hover:delay-500 rounded-lg block text-white bg-[#2BB0ED] px-5 py-3 mx-auto mt-10 font-bold hover:duration-500 hover:bg-[#127FBF]">Sign up now</button></a>
	<div class="space-y-12 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 max-w-lg mx-auto mt-10 lg:max-w-2xl text-center">
		<div class="py-10 w-full border-2 border-gray-300 rounded-lg font-medium">Cheap<br> <span class="font-normal">Competitive Price</span></div>
		<div class="py-10 w-full border-2 border-gray-300 rounded-lg font-medium">More feature<br> <span class="font-normal"> Essentials Feature included</span></div>
	</div>
<footer class="text-center mt-20 pt-12 border-t-2 border-gray-300 h-64 bg-[#FFF3C4] pb-10">
<nav class="flex justify-center pb-10 space-x-10 mt-10">
		<a href="/" class="font-medium text-gray-500 hover:text-gray-900 hover:duration-1000">Home</a>
		<a href="#features" class="font-medium text-gray-500 hover:text-gray-900 hover:duration-1000">Features</a>
		<a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900 hover:duration-1000">Pricing</a>
	</nav>
<p class="text-gray-400 py-3">©2022 Week 2 Project Website. Built by <span class="font-medium hover:text-lg duration-500 text-black"> Fully Integrated</span></p>
</footer>
</div>
	</body>
</html>