<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome!</title>
	</head>

	<body class="scroll-smooth">
    <div class="py-8 bg-[#FFFBEA] h-auto">
		<nav class="relative lg:max-w-[calc(100%-30%)] flex justify-center space-x-10 bg-gradient-to-tr from-[#F0B429] to-[#FADB5F] max-w-md mx-auto h-14 items-center flex-wrap rounded-lg mb-10 font-medium decoration-[3px]">
			<a href="/" class="hover:underline-offset-1 decoration-cyan-900 hover:underline hover:text-[#FFFBEA]">Home</a>
			<a href="/pricing" class="hover:underline-offset-1 decoration-cyan-900 underline hover:text-[#FFFBEA] font-bold">Pricing</a>
			<a href="/blog" class="hover:underline-offset-1 decoration-cyan-900 hover:underline hover:text-[#FFFBEA]">Blog</a>
			<a href="#" class="hover:underline-offset-1 decoration-cyan-900 hover:underline hover:text-[#FFFBEA]">Login</a>
			<a href="#pricing" class="ml-10 inline bg-white py-2 px-4 rounded-xl hover:text-yellow-500 hover:py-3 hover:px-5 duration-300 mr">Sign up</a>
		</nav>
      <h1 class="text-center text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
        Adome Photostore Pricing
			</h1>
      <p class="text-center text-gray-700">Best photo editor tools for everyone.</p>
<div class="space-y-12 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 max-w-lg mx-auto mt-10 lg:max-w-2xl">
	<div class="p-8 bg-[#FFF3C4] border border-gray-200 rounded-2xl shadow-sm flex flex-col scroll-mt-10" id="pricing">
		<h3 class="text-3xl font-semibold text-gray-900 mt-10">Basic</h3>
		<p class="mt-4 mx-auto">
			<span class="text-5xl font-extrabold tracking-tight">$29</span>
			<span class="ml-1 text-xl font-semibold">/month</span>
		</p>
		<p class="mt-6 text-gray-500">The essentials</p>

		<ul role="list" class="mt-6 space-y-6">
			<li class="flex">
				<span class="-mt-2 text-blue-500 text-3xl">✔</span>
				<span class="ml-3 text-gray-500 text-left">Access to our service</span>
			</li>

			<li class="flex">
				<span class="-mt-2 text-blue-500 text-3xl">✔</span>
				<span class="ml-3 text-gray-500 text-left">Support</span>
			</li>
		</ul>
        <button class="rounded-lg block text-white bg-[#2BB0ED] px-5 py-3 mx-auto mt-[93px] font-bold hover:duration-500 hover:bg-[#127FBF] mb-0">Sign up now</button>
	</div>

	<div class="p-8 bg-[#FFF3C4] border border-gray-200 rounded-2xl shadow-md flex flex-col shadow-[#F7C948]">
		<h2 class="text-center font-bold mb-4"><span>👍</span>Most Recommended Plan</h2>
		<h3 class="text-3xl font-semibold text-gray-900">Pro</h3>

		<p class="mt-4 mx-auto">
			<span class="text-5xl font-extrabold tracking-tight">$99</span>
			<span class="ml-1 text-xl font-semibold">/month</span>
		</p>
		<p class="mt-6 text-gray-500">Much more features</p>

		<ul role="list" class="mt-6 space-y-6">
			<li class="flex">
				<span class="-mt-2 text-blue-500 text-3xl">✔</span>
				<span class="ml-3 text-gray-500">Access to our service</span>
			</li>

			<li class="flex">
				<span class="-mt-2 text-blue-500 text-3xl">✔</span>
				<span class="ml-3 text-gray-500 text-left">Support</span>
			</li>

			<li class="flex">
				<span class="-mt-2 text-blue-500 text-3xl">✔</span>
				<span class="ml-3 text-gray-500 text-left">More features</span>
			</li>
		</ul>
        <button class="rounded-lg relative block text-white bg-[#2BB0ED] px-5 py-3 mx-auto mt-10 font-bold hover:duration-500 hover:bg-[#127FBF]">Sign up now
		<span class="flex h-3 w-3 absolute -top-1 -right-1">
  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#1992D4] opacity-75"></span>
  <span class="relative inline-flex rounded-full h-3 w-3 bg-[#0B69A3]"></span>
</span></button>
	</div>
</div>
<h1 class=" relative mt-10 text-center flex flex-row justify-center items-center w-32 mx-auto space-x-6">*<span class="flex h-3 w-3 absolute left-6">
  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#1992D4] opacity-75"></span>
  <span class="relative inline-flex rounded-full h-3 w-3 bg-[#0B69A3]"></span>
</span><span> </span>Promotion</h1>

<footer class="text-center mt-20 pt-12 border-t-2 border-gray-300 h-72 bg-[#FFF3C4] -mb-10">
<nav class="flex justify-center pb-10 space-x-10 mt-10">
		<a href="/" class="font-medium text-gray-500 hover:text-gray-900 hover:duration-1000">Home</a>
		<a href="#features" class="font-medium text-gray-500 hover:text-gray-900 hover:duration-1000">Features</a>
		<a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900 hover:duration-1000">Pricing</a>
	</nav>
<p class="text-gray-400 py-3">©2022 Week 2 Project Website. Built by <span class="font-medium hover:text-lg duration-500 text-black"> Fully Integrated</span></p>
</footer>
</div>
	</body>
</html>